.header__content{
    padding: 40px 20px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    cursor: pointer;
}

.header-link{
    color: white;
    text-decoration: none;
}

.footer{
    padding: 20px;
    text-align: center;
}