.moviePage{
    padding: 5vh 0;
}
.filmInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filmInfo_poster{
    width: 30%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.filmInfo_info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filmInfo_genres{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button_nav{   
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: 1s;
    cursor: pointer;
    margin-bottom: 20px;
}

.button_watch{
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    border: 0px solid transparent;
}

.button_watch:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

@media only screen and (max-width: 450px) {
    .filmInfo{
        flex-direction: column;
        font-size: 25px;
    }
    .filmInfo_poster{
        width: 80%;
        margin-bottom: 20px;
    }
    .filmInfo_info{
        width: 80%;
    }
}