* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #000;
    color: #fff;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;

}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}